.dashboardBase{
    background-image: url(../assets/images/dashboard-6.png);
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dashboardWrapper{
    width: 74%;
    margin: auto;
    position: relative;
    padding-top: 42.521589%;

}
.infoSections{

}
.infoSection{
    position: absolute;
    width: 23%;

}
.dashboardAlerts{
    position: absolute;
    top: 16%;
    right: 20%;
}
.infoSection1{
    top: 28%;
    left: 20%;
}
.infoSection2{
    left: 46%;
    top: 28%;
}
.infoSection3{
    left: 70%;
    top: 28%;
}
.infoSection6{
    left: 20%;
    bottom: 11%;
}
.infoSection5{
    bottom: 11%;
    left: 44%;
}
.infoSection4{
    left: 70%;
    bottom: 11%
}
.dashboardKeyboard{
    display: flex;
    justify-content: center;
}