.dashboardBase{
    background-image: url(../assets/images/dashboard-6.png);
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dashboardWrapper{
    width: 74%;
    margin: auto;
    position: relative;
    padding-top: 33.521589%;

}
@media screen and (max-width: 1500px) {

    .dashboardWrapper{
        width: 91%;
        margin: auto;
        position: relative;
        padding-top: 43.521589%;
    }
}
@media screen and (max-width: 1680px) {

    .dashboardWrapper{
        width: 83%;
        margin: auto;
        position: relative;
        padding-top: 39.521589%;
    }
}
.infoSections{

}
.infoSection{
    position: absolute;
    width: 18%;

}
.dashboardAlerts{
    position: absolute;
    top: 15%;
    left: 24%;
}
.infoSection1{
    top: 23%;
    left: 25%;
    width: 20%;

}
.infoSection2{
    left: 46%;
    top: 24%;
}
.infoSection3{
    left: 66%;
    top: 24%;
}
.infoSection6{
    left: 25%;
    bottom: 14%;
}
.infoSection5{
    bottom: 14%;
    left: 44%;
}
.infoSection4{
    left: 66%;
    bottom: 14%;
}
.dashboardKeyboard{
    display: flex;
    justify-content: center;
}
.dashboardButton{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ff176b;
    background-size: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    filter: drop-shadow(0 2px 12px #FF176B);
    position: absolute;
}
.dashboardButton1{
    top: 23%;
    left:23%
}
.dashboardButton2{
    top: 23%;
    left:43%
}
.dashboardButton3{
    top: 23%;
    left:63%
}
.dashboardButton4{
    left: 63%;
    bottom: 40%;
}
