.container {
  padding: 0 2rem;
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.homeHero:after{
  content: '';
  background-image: url(../assets/images/future-4.jpg);
    background-size: 100%;
    border-radius: 0 0 27.8px 27.8px;
    background-repeat: no-repeat;
    content: "";
    height: 90%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}